.colorpicker {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.75px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	color: #fff;
	text-shadow: 2px 2px #8a8a8a;

	position: absolute;
	top: 200px;
	left: 200px;
	/* transform: scale(0.5, 0.5); */
	/* visibility: hidden; */
	background: repeating-linear-gradient(-45deg, #fc8c29, #fc8c29 1%, #f3892b 2%, #fc8c29 3%);
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 20px;
}

.colorpickerbuttons {
	clear: both;
	float: left;
	margin-top: 10px;
}

.colorpickerapply {
	width: 90px;
	height: 24px;
	background: #ccc;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	margin: 0px 5px;
}

.colorpickercancle {
	width: 90px;
	height: 24px;
	background: #ccc;
	border-radius: 10px;
	float: left;
	cursor: pointer;
	margin: 0px 5px;
}

.colorpickerapply:hover {
	background-color: #61ff3a;
}

.colorpickercancle:hover {
	background-color: #ff453a;
}

.IroColorPicker {
	float: left;
}
