@font-face {
	font-family: 'Keycaps';
	src: url(../fonts/keycaps-deluxe.ttf) format('truetype'),
		url(../fonts/keycapsdeluxebt-regular-opentype.otf) format('opentype');
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.winctrlcontainer {
	width: 100%;
	-webkit-app-region: drag;
	background: repeating-linear-gradient(-45deg, #fc8c29, #fc8c29 1%, #f3892b 2%, #fc8c29 3%);
	height: 36px;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.3;
	letter-spacing: 0.75px;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	color: #bbb;
	/* border-bottom: solid 10px #1d1e23; */
}

.winctrlcontainer p {
	opacity: 1;
	padding: 3px 0 0 8px;
}

.winctrlbuttonwrapper {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.3;
	letter-spacing: 0.75px;
	vertical-align: middle;
	color: #fff;
	-webkit-app-region: no-drag;
	width: fit-content;
	height: 100%;
	float: right;
}

.winctrlbuttonlayout {
	height: 36px;
	width: 26px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	/* margin-right: 15px; */
}

.winctrlbuttonlayout > i {
	position: relative;
	top: 8;
}

.winctrlbuttonfav {
	height: 36px;
	width: 26px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 15px;
}

.winctrlbuttonfav > i {
	position: relative;
	top: 8;
}

.winctrlbuttonmin {
	height: 36px;
	width: 26px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	/* opacity: 0.3; */
	text-align: center;
	margin-right: -6px;
}

.winctrlbuttonmin > i {
	position: relative;
	top: 8;
}

.winctrlbuttonmax {
	height: 36px;
	width: 26px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	/* opacity: 0.3; */
	text-align: center;
	margin-right: -6px;
}

.winctrlbuttonmax > i {
	position: relative;
	top: 8;
}

.winctrlbuttonclose {
	height: 36px;
	width: 26px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	/* opacity: 0.3; */
	text-align: center;
}

.winctrlbuttonclose > i {
	position: relative;
	top: 8;
}

.appname {
	font-family: 'Keycaps';
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: 0.75px;
	text-shadow: 2px 2px #8a8a8a;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	width: fit-content;
	color: #fff;
	padding-bottom: 5px;
	align-self: flex-start;
	overflow: visible;
}

.winctrlbuttonlayout:hover {
	opacity: 1;
	background-color: #313438;
}

.winctrlbuttonfav:hover {
	opacity: 1;
	background-color: #313438;
}

.winctrlbuttonmin:hover {
	opacity: 1;
	background-color: #313438;
}

.winctrlbuttonmax:hover {
	opacity: 1;
	background-color: #313438;
}

.winctrlbuttonclose:hover {
	opacity: 1;
	background-color: #ff443a;
}
